.header {
  display: flex;
  justify-content: space-between;
  .left,
  .right {
    flex: 1;
  }
  .right {
    display: flex;
    justify-content: flex-end;
  }
}
.content {
  margin: 20px 0;
}
.footer {
  display: flex;
  justify-content: center;
}
