.canvas {
  min-height: 100%;
  background-color: #fff;
  overflow: hidden;

  .componentWrapper {
    margin: 12px;
    border: 1px solid #fff;
    padding: 12px;
    border-radius: 3px;

    &.selected {
      border-color: #1890ff;
      &:hover {
        border-color: #1890ff;
      }
    }

    &.locked {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover {
      border-color: #d9d9d9;
    }

    .component {
      pointer-events: none;
    }
  }
}
