.home {
  height: $min-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  h1 {
    text-align: center;
  }
}
